html {
    font-family: rockwell;
    background-image: url("https://images.pexels.com/photos/132193/pexels-photo-132193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

header {
    justify-content: center;
    align-content: center;
    margin: 20px 20px 0px 20px;
}

.menu {
    font-size: 25px;
    font-family: Century Schoolbook;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: .1px; 
    text-shadow: 2px 2px 2px black;
    display: grid;
    width: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
} 

a.menu {
    display: flex;
    text-align: center;
    align-content: center;
}

/* .menu {
    display: inline-block;
    font-family: 'Arvo', serif;
    position: relative;
    width: auto;
    font-size: 25px;
    font-family: century;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black; 
    text-shadow: 2px 2px 2px black;
    padding-left: 0px;
} */

ul {
    padding-left: 0px;

}
body {
    margin: auto auto;
    text-align: center;
    width: auto;
    height: 850px;
    padding-bottom: 100px;    
}

h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: 3px 3px 1px black;
}

h1.acc, h1.event, h1.photos {
    font-size: 40px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black; 
    text-shadow: 2px 2px 2px black;
    margin: auto 200px;
    text-decoration-line: underline;
    text-decoration-color: rgb(58, 56, 56);
}

p {
    font-size: 22px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    /* -webkit-text-fill-color: white;*/
    -webkit-text-stroke-width: .2px;

    -webkit-text-stroke-color: black;  
    color:white;
    letter-spacing: .1px;
    text-shadow: 2px 2px 2px black;
    text-shadow: 3px 3px 3px black;
    

}


p.acc, p.rsvp {
    margin: 75px 225px;
}

/* p.rsvp {
    margin: 100px 250px; */
/* } */

h3 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.ceremony {
    margin: auto 200px;
}

.adj {
    text-align: center;
    font-size: 20px;
    padding-left: 0;
}

img {
    display: grid;
    margin: 0 auto;
    width: 500px;
}

h1.joke {
    margin: 100px 200px 50px 200px;
}

h2 {
    font-size: 50px;
    margin: 0 auto;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .5px; 
    text-shadow: 3px 3px 3px black;
}

h3 {
    display: inline-block;
    width: 600px;
}

h4 {
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .3px; 
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 2px black;
}

a {
    text-decoration-line: none;
    color: black;
}

a:visited {
    color: black;
}


.flight {
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    justify-content: right;
    align-content: right;
    background-color: whitesmoke;
    padding: 7px;
}

.accImg {
    display: grid;
    padding: auto auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;    
}

img.us {
    display: inline-block;
    width: 400px;
    height: auto;
    grid-template-columns: 400px 400px;
}

.img_now {
    display: grid;
    width: auto;
    grid-template-columns: repeat(3, 375px);
    grid-template-rows: repeat(3, 600px);
    grid-gap: 40px;
    margin: auto 20px;
}

img.now {
    width: 350px;
    height: auto;
    border: 10px solid white;
}

img.now#img7 {
    width: 700px;
    height: auto;
    margin-left: -160px;
}

img#img3.now, img#img6.now {
    margin-right: 20px;
}

form {
    display: inline-block;
    margin: auto auto;
}
input {
    align-content: center;
    width: 300px;
    height: 50px;
    color: rgb(133, 43, 15);
    font-size: 25px;
    border: 1px solid black;
}

button {
    width:130px;
    height:40px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
